@font-face { font-family: OptimusPrinceps; src: url('OptimusPrinceps.ttf'); } 

body {
    background: #1d1d1d;
    color: white;
}

.container {
    background: #414141;
}

h1 {
    font-family: OptimusPrinceps;
}

.form-control {
     max-width: 500px;
}

textarea {
    color: black;
}

label {
    font-weight: normal;
}